body {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    background: #fff;
}

h1 {
    color: #fff;
    text-align: center;
}

.form-register{
    width: 95%;
    margin: auto;
    padding: 10px 50px;
    max-width: 750px;
    height: 1000px;
    background: white;
    border-radius: 7px;
}

.form-titulo{
    background: #2BAA44;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    border-radius: 7px;
    border-bottom: 5px solid #fff;
}

.contenedor-inputs{
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input{
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid darkgrey;
}

.input-250{
    width: 250%;
}

.input-500{
    width: 500%;
}

.btn-enviar{
    background: #2BAA44;
    color: #fff;
    margin: auto;
    padding: 10px 40px;
    cursor: pointer;
}
.btn-enviar:active{
    transform: scale(1.05);
}

